.auth {
    padding: 30px 25px;

    margin: 0 auto;

    &__header {
        display: flex;
        justify-content: center;

        & h1 {
            color: $color-secondary;
        }

    }

    &__form {
        display: flex;
        flex-flow: column wrap;
        gap: 10px;

        max-width: 400px;
        margin: 0 auto;

        & .field {

            &:not(.nomb, :last-of-type) {
                margin-bottom: 20px;
            }

            width: 400px;
            max-width: 500px;
        }


        & .button__submit {
            margin-top: 20px;
            padding: 12px 20px;

            background: $color-secondary;

            &:hover {
                color: #fff;
                background: rgba($color-secondary, 0.9);
            }
        }

        &--footer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            & .btn__link {
                outline: none;
                border: none;

                background: none;
                color: $color-primary-lightest_blue;
                padding: 6px 10px;

                font-size: $fz-large;

                &:hover {
                    color: rgba($color-primary-lightest_blue, 0.9)
                }
            }
        }
    }
}

