.notification {
    display: none;
    height: 0;
    transition: all .5s ease-in-out;


    &.active {
        display: block;
        height: $notification-height;
        border-bottom: 1px solid black;
    }
}
