.field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    &__input {
        outline: none;
        border: none;
        border-radius: 5px;
        height: 48px;

        background: $color-primary-lightblue;
        color: #fff;

        padding: 12px 20px;

        display: block;

        &:focus, &:hover {
            background: rgba($color-primary-lightblue, 0.9);
        }

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown {
            & ~ .field__title {
                display: block;
            }
        }
    }

    &__title {
        display: none;
        color: #fff;
        position: absolute;
        top: 15px;
        padding: 0 20px;
    }

    &__number {
        padding: 5px;

        border: 2px solid $color-primary-blue;
        width: 60px;
        max-width: 60px;
        height: 70px;

        font-size: 50px;

        text-align: center;

        &:hover, &:focus {
            outline: none;
            //border: none;
        }
    }
}

.error {
    &-list {
        margin: 0;
        padding: 0 0 0 5px;
    }

    &-item {
        color: $color-secondary;
    }
}
