.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 30px;

    background-color: #f6f5fb;
    height: 100vh;

    h1 {
        font-size: 24px;
        font-weight: bold;
        color: $color-profile-font-primary;
    }

    span {
        font-size: $fz-medium;
        color: $color-profile-font-secondary;
    }

    button {
        background-color: #1ed176;
        color: #fff;
    }
}
